@model SailorsWebApi.Models.Users

@{
    ViewBag.Title = "Details";
}

<h2>Użytkownicy</h2>

<div>
    <h4>Szczegóły</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa użytkownika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            Adres e-mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Numer telefonu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            Funkcja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Functions.functionName)
        </dd>

    </dl>
</div>
<p>    
@if (Session["Function"] != null && Session["Function"].ToString() == "0")
{
    @Html.ActionLink("Edytuj", "Edit", new {id = Model.userId}) 
}
    @Html.ActionLink("Wróć do listy", "Index")
</p>
