@model IEnumerable<SailorsWebApi.Models.Users>

@{
    ViewBag.Title = "Index";
}

<h2>Użytkownicy</h2>

<p>
    @Html.ActionLink("Utwórz", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nazwa użytkownika
        </th>
        <th>
            Adres e-mail
        </th>
        <th>
            Numer telefonu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
        @if (Session["Function"] != null && Session["Function"].ToString() == "0")
        {
            @Html.ActionLink("Edytuj |", "Edit", new {id = item.userId}) 
        }
            @Html.ActionLink("Szczegóły", "Details", new {id = item.userId}) 
        @if (Session["Function"] != null && Session["Function"].ToString() == "0")
        {
            @Html.ActionLink("| Usuń", "Delete", new {id = item.userId})
        }
        </td>
    </tr>
}

</table>
