@model SailorsWebApi.Models.SailingEquipment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SailingEquipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.equipmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentTypes.typeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentTypes.typeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.equipmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
