@model IEnumerable<SailorsWebApi.Models.SailingEquipment>

@{
    ViewBag.Title = "Index";
}

<h2>Sprzęt do wynajęcia</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nazwa sprzętu
        </th>
        <th>
            Typ sprzętu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.equipmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentTypes.typeName)
        </td>
        <t>
            @if (Session["Function"] != null && Session["Function"].ToString() == "0")
            {
                @Html.ActionLink("Edtuj", "Edit", new {id = item.equipmentId}) |
            }
            @Html.ActionLink("Szczegóły", "Details", new {id = item.equipmentId}) |
            @if (Session["Function"] != null && Session["Function"].ToString() == "0")
            {
                @Html.ActionLink("Usuń", "Delete", new {id = item.equipmentId})
            }
        </t>
    </tr>
}

</table>
