@model SailorsWebApi.Models.RentingEquipment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RentingEquipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa rezerwacji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rentName)
        </dd>
        
        <dt>
            Czas rozpoczęcia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rentTimeStart)
        </dd>

        <dt>
            Czas zakończenia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rentTimeEnd)
        </dd>
                
        <dt>
            Opis rezerwacji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rentDescription)
        </dd>

        <dt>
            Sprzęt rezerwowany
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SailingEquipment.equipmentName)
        </dd>
        
    @if (Session["Function"] != null && Session["Function"].ToString() == "0")
    {
        <dt>
            @Html.DisplayNameFor(model => model.Users.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.userName)
        </dd>
    }
    </dl>
</div>
<p>
    @if (Session["Function"] != null && Session["Function"].ToString() == "0")
    {
        @Html.ActionLink("Edytuj", "Edit", new {id = Model.rentId})
    }
    @Html.ActionLink("Wróć do listy", "Index")
</p>
