@model SailorsWebApi.Models.RentingEquipment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RentingEquipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rentTimeStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rentTimeStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rentTimeEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rentTimeEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SailingEquipment.equipmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SailingEquipment.equipmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.userName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
