<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @if (Session["Function"] == null)
                {
                    <ul class="nav navbar-nav">

                        <li>@Html.ActionLink("Strona Główna", "Index", "Home")</li>
                        <li>@Html.ActionLink("Wynajem Ośrodka", "Index", "HabourRentings")</li>
                        <li>@Html.ActionLink("Wynajem Jednostek", "Index", "RentingEquipments")</li>
                        <li>@Html.ActionLink("Zaloguj", "Login", "Home")</li>
                    </ul>
                }
                @if (Session["Function"] != null && Session["Function"].ToString() == "1")
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Strona Główna", "Index", "Home")</li>
                        <li>@Html.ActionLink("Wynajem Ośrodka", "Index", "HabourRentings")</li>
                        <li>@Html.ActionLink("Wynajem Jednostek", "Index", "RentingEquipments")</li>
                        <li>@Html.ActionLink("Moje konto", "Details", "Users")</li>
                        <li>@Html.ActionLink("Wyloguj", "Logout", "Home")</li>
                    </ul>
                }
                @if (Session["Function"] != null && Session["Function"].ToString() == "0")
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Strona Główna", "Index", "Home")</li>
                        <li>@Html.ActionLink("Typy Ekwipunku", "Index", "EquipmentTypes")</li>
                        <li>@Html.ActionLink("Wynajem Ośrodka", "Index", "HabourRentings")</li>
                        <li>@Html.ActionLink("Wynajem Jednostek", "Index", "RentingEquipments")</li>
                        <li>@Html.ActionLink("Ekwipunek Żeglarski", "Index", "SailingEquipments")</li>
                        <li>@Html.ActionLink("Posty", "Index", "Posts")</li>
                        <li>@Html.ActionLink("Użytkownicy", "Index", "Users")</li>
                        <li>@Html.ActionLink("Moje konto", "Details", "Users")</li>
                        <li>@Html.ActionLink("Wyloguj", "Logout", "Home")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Harcerski Ośrodek Wodny</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
