@model SailorsWebApi.Models.HabourRenting

@{
    ViewBag.Title = "Delete";
}

<h2>Wynajem terenu ośrodka</h2>

<h3>Jesteś pewien, że chcesz to usunąć?</h3>
<div>
    <h4>Usuń</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa imprezy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rentName)
        </dd>

        <dt>
            Czas rozpoczęcia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rentTimeStart)
        </dd>

        <dt>
            Czas zakończenia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rentTimeEnd)
        </dd>

        <dt>
            Opis imprezy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rentDescription)
        </dd>

        @if (Session["Function"] != null && Session["Function"].ToString() == "0")
        {
            <dt>
                Nazwa użytkownika
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Users.userName)
            </dd>
        }

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
