@model IEnumerable<SailorsWebApi.Models.HabourRenting>

@{
    ViewBag.Title = "Index";
}

<h2>Wynajem terenu ośrodka</h2>

<p>
    @if (Session["Function"] != null)
    {
        @Html.ActionLink("Utwórz nowe", "Create")
    }
    </p>
<table class="table">
    <tr>
        <th>
            Nazwa imprezy
        </th>
        <th>
            Czas rozpoczęcia
        </th>
        <th>
            Czas zakończenia
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rentTimeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rentTimeEnd)
        </td>
        <td>
            @if (Session["Function"] != null && Session["Function"].ToString() == "0")
            {
                @Html.ActionLink("Edytuj |", "Edit", new { id = item.rentId })
            }
            @Html.ActionLink(" Szczegóły ", "Details", new { id = item.rentId })
            @if (Session["Function"] != null && Session["Function"].ToString() == "0")
            {
                @Html.ActionLink("| Usuń", "Delete", new { id = item.rentId })
            }
        </td>
    </tr>
}

</table>
